.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  margin: 0;
}

/* Estilos padrão e para dispositivos móveis */
.iframe-container {
  display: flex;
  width: 100%;
  justify-content: space-around; 
  align-items: stretch;
  flex-direction: column;
}

.iframe-container .iframe-powerbi, 
.iframe-container .iframe-chatbot {
  border: none;
  width: 100%;
  height: 50vh; /* Altura padrão para dispositivos móveis e por padrão */
  min-height: 300px;
}

/* Ajuste para telas grandes */
@media (min-width: 769px) {
  .App-header {
      padding-top: 100px;
  }

  .iframe-container {
      flex-direction: row; /* Ajuste para a direção da linha */
  }

  .iframe-container .iframe-powerbi,
  .iframe-container .iframe-chatbot {
      flex-basis: auto; /* Ajusta a base de flexibilidade */
      height: 70vh; /* Aumenta a altura para as telas desktop */
  }

  .iframe-container .iframe-powerbi {
      flex-grow: 0.7; /* Ocupa cerca de 70% da largura */
  }

  .iframe-container .iframe-chatbot {
      flex-grow: 0.3; /* Ocupa cerca de 30% da largura */
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  .iframe-container {
      flex-direction: row;
  }

  .iframe-container .iframe-powerbi, 
  .iframe-container .iframe-chatbot {
      width: 50%;
      height: 30vh;
      min-height: 300px;
  }
}
